<div class="formDiv">
  <img src="../../../../assets/appLogo.jpg" alt="logo">
  <span>Login:</span>
  <input type="text" placeholder="email" [(ngModel)]="username" disabled/>
  <span>Hasło:</span>
  <input type="password" placeholder="hasło" [(ngModel)]="password" disabled/>
  <button class = 'loginButton' (click)="login()">Zaloguj się za pomocą <b>0Auth</b></button>
  <!-- <app-login-button class = 'loginButton'></app-login-button> -->
  <button class = 'loginButton' disabled>Zarejestruj się</button>
</div>
