@import '../../styles/colors.scss';

.topBar {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  // background-color: rgb(209, 197, 165);
  background-color: $darkGray;
  color: white;
  // box-shadow: 0 0 10px rgb(255, 255, 255);
  position: relative;
  position: sticky;
  top:0px;
  z-index: 2;
  img {
    width: 80px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: left;
  }
  .nav {
    width: calc(100vw - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .topNav {
    font-size: 26px;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      // background-color: rgb(192, 179, 146);
      background-color: $lightGray;
      cursor: pointer;
    }
  }
}
