.loginBackground {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/login.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
