<div class="entryDiv">
  <div class="dataDiv">
    <div class="entry">Rok utworzenia:<br><span>{{data.year}}</span></div>
    <div class="entry">Lokalizacja:<br><span>{{data.location}}</span></div>
    <div class="entry">Kod pocztowy:<br><span>{{data.postalCode}}</span></div>
    <div class="entry">Zawartość zdjęcia:<br><span>{{data.content}}</span></div>
  </div>
  <div class="photoDiv">
    <div class="private" *ngIf="data.private">
      <h1>To zdjęcie jest prywatne</h1>
      <button class="askButton">Poproś o dostęp</button>
    </div>
      <img [src]="getImageUrl(data.photo)" alt="{{data.content}}" *ngIf="!data.private"/>
  </div>
</div>
