.entryDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  background-color: rgb(95, 85, 61);
  color: white;
  margin: 30px;
  padding: 25px;
  font-size: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(112, 112, 112);
  position: relative;
  z-index: 0;
  .photoDiv {
    width: 70%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 90%;
      box-shadow: 0 0 10px rgb(0, 0, 0);
    }
  }
  .dataDiv {
    width: 30%;
    span {
      font-weight: bolder;
      display: block;
      text-align: right;
      padding: 5px;
    }
  }
}

.private {
  position: absolute;
  top: 0px;
  left: 5%;
  background-color: black;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.askButton {
  background-color: beige;
  font-weight: bolder;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
    cursor: pointer;
  }
}
