.displayDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  position: relative;
  top: 0px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.displayDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.displayDiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
