.displayDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  position: relative;
  top: 0px;
  height: calc(100vh - 170px);
  padding-bottom: 70px;
  overflow-y: scroll;
}

.search {
  width: 70vw;
  position: relative;
}

.displayDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.displayDiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
