<div class="addPhoto">
<div class="addPhotoForm">
  <span>
    <h3>Czy znasz dokładną datę utworzenia?</h3>
      <input type="radio" name="addressOption" [value]="true" class="radio" [(ngModel)]="preciseDate"> Tak
      <input type="radio" name="addressOption" [value]="false" class="radio" [(ngModel)]="preciseDate"> Nie
  </span>
  <hr>
  <ng-container *ngIf="preciseDate; else elseTemplate">
    <span>
      <h3>Data utworzenia:</h3>
      <input type="date" name="preciseTime" id="dateInput" [(ngModel)]="creationDate">
    </span>
  </ng-container>
  <ng-template #elseTemplate>
    <span>
      <h3>Rok utworzenia:</h3>
      <input type="year" name="year" id="dateInput">
      <h3>Miesiąc utworzenia:</h3>
      <input type="month" name="month" id="dateInput">
      <h3>Dzień utworzenia:</h3>
      <input type="day" name="day" id="dateInput">
    </span>
  </ng-template>

  <hr>
  <span>
    <h3>Czy znasz dokładny adres?</h3>
      <input type="radio" name="locationOption" [value]="true" class="radio" [(ngModel)]="preciseLocation"> Tak
      <input type="radio" name="locationOption" [value]="false" class="radio" [(ngModel)]="preciseLocation"> Nie
  </span>
  <hr>
  <span>
    <ng-container *ngIf="preciseLocation; else locationTemplate">
      <h3>Lokalizacja:</h3>
      <app-map-picker (coordinatesSelected)="onCoordsPicked($event)"></app-map-picker>
      <p><b>Wybrana lokalizacja:</b><br>
        {{ address }}</p>
    </ng-container>
    <ng-template #locationTemplate>
        <h3>Miasto:</h3>
        <input type="text" name="town" id="dateInput">
        <h3>Województwo:</h3>
        <input type="text" name="state" id="dateInput">
        <h3>Kod pocztowy:</h3>
        <input type="text" name="postalCode" id="dateInput">
        <h3>Ulica:</h3>
        <input type="text" name="street" id="dateInput">
    </ng-template>
  </span>
  <hr>
  <span>
    <h3>Tytuł zdjęcia:</h3>
    <input type="text" name="title" id="titleInput" [(ngModel)]="title">
    <h3>Opis zdjęcia:</h3>
    <input type="text" name="description" id="descriptionInput" [(ngModel)]="description">
    <h3>Prywatność:</h3>
    <label class="privacy-checkbox">
  Prywatne
  <input type="checkbox" [(ngModel)]="isPrivate" name="privacyCheckbox">
</label>
  </span>
  <button class="addPhotoButton" (click)="addPhoto()">Dodaj zdjęcie</button>
</div>
<div class="photos">
  <span class="photoLabel">
    <h1>Wybierz zdjecia:</h1>
    <input type="file" name="photos" id="photosFiles" multiple (change)="onFileChanged($event)" >
  </span>

  <div  class="preview">
    <div class="image-container" *ngIf="url">
      <img [src]="url" alt="Selected Image" />
    </div>
    <div class="controls" *ngIf="imagePath.length > 1">
      <button (click)="changePhoto('left')"> < < < </button>
      <button (click)="changePhoto('right')"> > > > </button>
    </div>
  </div>
</div>
</div>