.my-photo-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 90%;
  margin: 20px 0px;
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.15);
  border: 2px solid gray;
  height: 200px;
}

.my-photo-card img {
  width: auto;
  height: 150px;
  margin: 15px;
  border: 3px solid white;
  border-radius: 10px;
}

.my-photo-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions,
.my-photo-info {
  width: 35%;
  display: flex;
  align-items: center;
}

.my-photo-info {
  flex-direction: column;
  justify-content: center;
  color: white;
}

.actions {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  button {
    padding: 10px 30px;
    border: 2px solid gray;
    font-weight: bolder;
    border-radius: 20px;
    width: 70%;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0px 10px rgba(255, 255, 255, 0.15);
    }
  }
}

.privacy-value {
  color: white;
  font-weight: bold;
}

.public {
  color: green;
}

.private {
  color: rgb(179, 0, 0);
}

.delete-btn {
  background-color: rgb(179, 0, 0);

  color: white;

  &:hover {
    background-color: rgb(131, 1, 1);
  }
}

.edit-btn {
  background-color: rgb(3, 83, 158);
  color: white;

  &:hover {
    background-color: rgb(1, 44, 85);
  }
}

.privacy-btn {
  background-color: rgb(18, 105, 25);
  color: white;

  &:hover {
    background-color: rgb(7, 85, 14);

  }
}