<div class="my-photo-card">
  <div class="my-photo-image">
    <ng-container *ngIf="getImageUrl(); else noPhoto">
      <img [src]="getImageUrl()" alt="{{ data.title }}" />
    </ng-container>
    <ng-template #noPhoto>
      <div class="no-photo-info">
        <span><b>Brak przesłanego pliku</b><br><span class="no-photo-icon">📄</span></span>
      </div>
    </ng-template>
  </div>
  <div class="my-photo-info">
    <h3>{{ data.title }}</h3>
    <p class="description">{{ data.description }}</p>
    <div class="privacy">
      <span class="privacy-label">Prywatność: </span>
      <span class="privacy-value" [ngClass]="data.privacy">
        <ng-container *ngIf="data.privacy == 'public'; else elseTemplate">
          Publiczne
        </ng-container>
        <ng-template #elseTemplate>
          Prywatne
        </ng-template>
      </span>
    </div>
  </div>

    <div class="actions">
      <button class="privacy-btn" (click)="onPrivacyChange(data.privacy === 'public' ? 'private' : 'public')">
        {{ data.privacy === 'public' ? 'Ustaw jako prywatne' : 'Ustaw jako publiczne' }}
      </button>

      <button class="delete-btn" (click)="onDelete()">🗑 Usuń</button>

    </div>
</div>
